__pycache__/
*.py[cod]
*$py.class
*.so
.Python

data/*
!data/test_set/

venv/
.venv
pyproject.toml
.python-version
uv.lock
env/
.env

chroma_db/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

*.log
.pytest_cache/
results/
test.py
test.ipynb